.postContainer {
  & + div {
    margin-top: 48px;
  }

  a {
    h1 {
      font-size: 1.75rem;
      line-height: 2rem;
      font-weight: 700;
      color: var(--heading);
      transition: color 0.3s;
    }

    p {
      color: var(--body);
      margin-top: 8px;
      font-size: 1.125rem;
      font-weight: 400;
    }

    &:hover h1 {
      color: var(--highlight);
    }
  }
}

.postInfo {
  margin-top: 24px;
  color: var(--info);

  span {
    display: flex;
    align-items: center;

    svg {
      font-size: 1.25rem;
      margin-right: 10px;
    }
  }

  display: flex;
  align-items: center;
  gap: 24px;
}

.buttonLoader {
  margin-top: 64px;
  font-weight: 600;
  font-size: 1.125rem;
  color: var(--highlight);
  background: transparent;
  border: none;

  display: flex;
  align-items: flex-start;
}
